.buttons-container {
  margin-top: 50px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container {
  width: 20em;
  margin-left: auto;
  margin-right: auto;
}
.set-expense-btn {
  width: 307px;
  height: 52px;
  left: 34px;
  top: 646px;

  background: rgba(0, 123, 255, 0.25);
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
}
.copy-others-btn {
  width: 307px;
  height: 52px;
  left: 34px;
  top: 646px;

  background: #007BFF;
  border-radius: 10px;
  border: none;
  color: white;

}
