<div class="container" >
  <h2 style="text-align: left">Hello!</h2>
<br/>
  <img style="width: 162px; height: 162px;"alt="User" src="https://scontent-hel3-1.xx.fbcdn.net/v/t1.15752-9/123842868_660109127995002_7103927637007582459_n.jpg?_nc_cat=101&ccb=2&_nc_sid=ae9488&_nc_ohc=7leyrJ1dc7wAX80Vd10&_nc_ht=scontent-hel3-1.xx&oh=baeac1992e908c554ef4b98cd72fc934&oe=5FCD67EF">

  <div>Your monthly income</div>
  <h3 style="font-size: 35px;">{{ income }} euros</h3>

  <div class="buttons-container">
  <v-btn @click="setExpense()" 
    color="secondary"
    depressed
    elevation="2"
    dark
    rounded
  >Set your own expense ratios</v-btn>

  <div>or</div>

  <v-btn @click="copyOthers()"
  color="primary"
  depressed
  elevation="2"
  dark
  rounded
>Copy others</v-btn>
</div>
</div>